.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 48px;
  height: 48px;
}

@media screen and (min-width: 1025px) {
  .header {
    padding-top: 40px;
  }
  .logoContainer {
    margin-left: 55px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .logoContainer {
    margin-left: 32px;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .header {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .navItemNumber {
    display: none;
  }
  .navbar {
    padding: 0 2em 0 5rem;
  }
}
