.navbarAndLineDecorationContainer {
  display: flex;
  align-items: center;
}

.navbar {
  backdrop-filter: blur(24px);
  background-color: #ffffff05;
  padding-left: 3em;
}

.ul {
  display: flex;
}

.navItem {
  margin-right: 3em;
  padding: 38px 0;
}

.active {
  border-bottom: solid white;
}

.notActive:hover {
  border-bottom: solid #fff8;
}
.navItemNumber {
  font-size: 16px;
  letter-spacing: 2.7px;
  font-weight: bold;
  color: white;
  margin-right: 0.5em;
  display: none;
}
.navItemText {
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
}

.horizontalLine {
  width: 473px;
  height: 1px;
  background-color: #979797;
  position: relative;
  right: -40px;
  display: none;
  z-index: 1;
  background-color: #fff3;
}

@media screen and (min-width: 1240px) {
  .horizontalLine {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 8em;
  }
  .navItemNumber {
    display: inline;
  }
  .navItemNumber {
    font-size: 14px;
  }
}
