.page {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.widthLimit {
  max-width: 1400px;
  margin: 0 auto;
}

.planetImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.planetImage {
  width: 170px;
  height: 170px;
}

.lineDecoration {
  height: 1px;
  background-color: #ffffff88;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .pageContent {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
  }

  .leftContent {
    margin-left: 165px;
  }
  .rightContent {
    margin-right: 50px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .leftContent {
    text-align: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .page {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    text-align: center;
  }
  .pageContent {
    margin-top: 150px;
  }
}

@media screen and (max-width: 375px) {
  .page {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    text-align: center;
  }
  .leftContent {
    width: 327px;
  }
  .pageContent {
    margin-top: 50px;
  }
}
