.page {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.widthLimit {
  max-width: 1400px;
  margin: 0 auto;
}

.pageContentContainer {
  padding: 0 2rem;
}

.planetImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.planetImage {
  width: 170px;
  height: 170px;
}

.planetName {
  font-size: 56px;
  margin-top: 1rem;
}

.lineDecoration {
  height: 2px;
  width: 100%;
  background-color: #383b4b7a;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .planetImage {
    width: 300px;
    height: 300px;
  }
  .planetStatsContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .planetName {
    font-size: 80px;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1025px) {
  .pageContent {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
  }
}

@media screen and (min-width: 1025px) {
  .pageContentWithTitle {
    padding-left: 9rem;
  }
  .pageContentContainer {
    display: flex;
    justify-content: space-around;
  }

  .planetImage {
    width: 445px;
    height: 445px;
  }
  .rightContentContainer {
    max-width: 445px;
    margin-top: -6rem;
  }
  .planetStatsContainer {
    justify-content: flex-start;
    gap: 130px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .page {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    text-align: center;
  }
  .pageContent {
    margin-top: 150px;
  }
  .pageContentContainer {
    max-width: 573px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .page {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    text-align: center;
  }
}
