.titleContainer {
  display: flex;
  justify-content: center;
  letter-spacing: 2.7px;
  margin: 1rem 0 2rem;
}

.titleNumber {
  font-weight: bold;
  margin-right: 1em;
  color: #fff5;
}

@media screen and (min-width: 1025px) {
  .titleContainer {
    font-size: 28px;
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 700px) {
  .titleContainer {
    justify-content: flex-start;
    margin-left: 8rem;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .titleContainer {
    justify-content: flex-start;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1025px) {
  .titleContainer {
  }

  .titleNumber {
  }

  .titleText {
  }
}

@media screen and (max-width: 1024px) {
  .titleContainer {
  }

  .titleNumber {
  }

  .titleText {
  }
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  /* .titleContainer {
    justify-content: flex-start;
    margin-left: 2rem;
  } */

  .titleNumber {
  }

  .titleText {
  }
}

@media screen and (max-width: 375px) {
  .titleContainer {
    font-size: 16px;
  }

  .titleNumber {
  }

  .titleText {
  }
}
