.h4 {
  font-size: 32px;
  color: black;
}

.bigButton {
  width: 274px;
  height: 274px;
  background-color: white;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}
.bigButtonOuter {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.bigButtonOuter:hover {
  background-color: #ffffff0a;
}

@media screen and (min-width: 1025px) {
  .bigButtonOuter {
    align-items: flex-end;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .bigButton {
    width: 242px;
    height: 242px;
  }

  .bigButtonOuter {
    width: 380px;
    height: 380px;
  }
}

/* @media screen and (max-width: 375px) { */
@media screen and (max-width: 767px) {
  .bigButton {
    width: 150px;
    height: 150px;
  }

  .bigButtonOuter {
    width: 250px;
    height: 250px;
  }

  .h4 {
    font-size: 20px;
  }
}
