:root {
  --dark-blue: #0b0d17;
  --pale-blue: #d0d6f9;
}

body {
  background-color: var(--dark-blue);
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}

h2 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
  letter-spacing: 4.75;
  color: var(--pale-blue);
}

p {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* "16px",
"14px",
},
letterSpacing: {
475: "4.75px",
235: "2.35px",
270: "2.7px", */
