.page {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.widthLimit {
  max-width: 1400px;
  margin: 0 auto;
}

.pageContentContainer {
  padding: 1.5rem;
}

.lineDecoration {
  height: 1px;
  background-color: #ffffff88;
  width: 100%;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 88px;
  margin: 2rem auto 2.5rem;
}
.li {
  width: 10px;
  height: 10px;
  background-color: #ffffff44;
  border-radius: 50%;
}
.active {
  background-color: white;
}
.link {
  width: 100%;
  height: 100%;
}

.role {
  font-size: 16px;
  color: #fff8;
  margin-bottom: 1em;
}

.name {
  font-size: 24px;
}

.crewImage {
  width: 177px;
  height: 222px;
}

@media screen and (min-width: 700px) {
  .lineDecoration {
    display: none;
  }
  .ul {
    z-index: 1;
  }
  .li {
    width: 15px;
    height: 15px;
  }
  .pageContentBelowTitle {
    display: flex;
    flex-direction: column-reverse;
  }
  .dotsAndTextContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .crewImage {
    height: 572px;
    width: auto;
  }
  .imageContainer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .dotsAndTextContainer {
    max-width: 458px;
    margin: 0 auto;
  }
}

/* @media screen and (min-width: 1124px) { */
@media screen and (min-width: 1024px) {
  .pageContentContainer {
    padding-left: 9rem;
  }
  .imageContainer {
    position: static;
    bottom: initial;
    margin: 0;
    left: initial;
    transform: initial;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .pageContentBelowTitle {
    flex-direction: row-reverse;
  }
  .crewImage {
    height: 712px;
    width: auto;
    margin-top: -10rem;
  }
  .dotsAndTextContainer {
    justify-content: space-between;
    flex: 1;
  }

  .role {
    font-size: 32px;
  }
  .name {
    font-size: 56px;
  }
  .ul {
    margin-left: 0;
    margin-right: 0;
  }
  .paragraphWrapper {
    max-width: 444px;
  }
}

@media screen and (max-width: 1024px) {
  .leftContent {
    text-align: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .page {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .page {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
    text-align: center;
  }
}
