.page {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.widthLimit {
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .techImage {
    width: 515px;
    height: 527px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .page {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@media screen and (max-width: 375px) {
  .page {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }
  .techImage {
    width: 375px;
    height: 170px;
  }
}
