.statContainer {
  margin-top: 2em;
}

.statLabel {
  font-size: 14px;
  letter-spacing: 2.36px;
  margin-bottom: 1em;
  color: #d0d6f9;
}

.statValue {
  font-size: 28px;
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
}

@media screen and (max-width: 375px) {
}
